{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block page_content %}

<body>
   <div class="container">
      <div class="col-md-6 mx-auto text-center pt-2 pb-2">
         <h1 style="font-size: 35;">
            Cambia tu contraseña
         </h1>
         <p class="pt-4">
            Introduce tu <b style="color: #00c884">contraseña antigua</b> para poder establecer 
            la nueva que usarás a partir de ahora al iniciar sesión. 
         </p>
      </div>
      <div class="row">
         <div class="col-md-4 mx-auto">
            {% if error_message %}
            <p class="alert alert-warning" role="alert">{{ error_message }}</p>
            {% endif %}
            <div class="myform form">
               <form action="{% url 'change_password' %}" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                     <div>
                        {{ form.as_p }}
                     </div>
                  </div>
                  <div class="text-center pt-2">
                     <button type="submit" class="btn btn-block login-button" style="padding: 8px 25px;">
                        Cambiar la contraseña
                     </button>
                  </div>
                  <p class="small mt-3 text-center"><a href="{% url 'recover_password' %}">¿Has olvidado tu contraseña?</a></p>
               </form>
            </div>
         </div>
      </div>
   </div>
</body>

{% endblock %}