{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block page_content %}

<body>
   <div class="container">
      <div class="col-md-6 mx-auto text-center pt-2 pb-2">
         <h1 style="font-size: 35;">
            Recuperar contraseña
         </h1>
         <p class="pt-4">
            Introduce el <b style="color: #00c884">correo electrónico</b> con el que te registraste, te mandaremos una nueva contraseña
            con la que iniciar sesión.
         </p>
      </div>
      <div class="row">
         <div class="col-md-4 mx-auto">
            {% if error_message %}
            <p class="alert alert-warning" role="alert">{{ error_message }}</p>
            {% endif %}
            <div class="myform form">
               <form action="{% url 'recover_password' %}" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                     <div>
                        {{ form.as_p }}
                     </div>
                  </div>
                  <div class="text-center pt-2">
                     <button type="submit" class="btn btn-block login-button" style="padding: 8px 25px;">
                        Recuperar contraseña
                     </button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</body>

{% endblock %}