{% extends "base.html" %}
{% block active_competitions %}active{% endblock %}
{% block color_competitions %}style="color: #00c884;"{% endblock %}
{% load static %}

{% block page_content %}

<link rel="stylesheet" href="{% static 'css/register.css' %}">

<div class="row pb-3">
    {% if competition.author == request.user.username or request.user.is_staff %}
    <form action="{% url 'editing' competition.pk %}" class="pt-2 pl-3">
        <button type="submit" class="btn login-button" style="font-weight: 400;">
            <span class="fa fa-edit pr-2"></span>
            Editar
        </button>
    </form>
    <form action="{% url 'delete' competition.pk %}" class="pt-2 pl-3">
        <button type="submit" class="btn btn-danger"
            onclick="return confirm('¿Está seguro de que quiere eliminar {{ competition.title }}?');">
            <span class="fa fa-trash pr-2"></span>
            Eliminar
        </button>
    </form>
    {% endif %}

    {% if request.user.is_authenticated %}
    <form action="{% url 'add_points' competition.pk %}" class="pt-2 pl-3">
        <button type="submit" class="btn btn-info">
            Pruebas
        </button>
    </form>
    {% endif %}
</div>

<h1 class="pt-2">{{ competition.title }}</h1>
<div class="row">
    <div class="col-md-8 pt-3 text-justify">
        <h5>Descripción:</h5>
        <p>{{ competition.description }}</p>
        <br>
    </div>
    <div class="col-md-3">
        <h5>Fecha de inicio:</h5>
        <p>{{ competition.beginning }}</p>
        <br>
        <h5>Fecha de finalización:</h5>
        <p>{{ competition.deadline }}</p>
        <br>
        <h5>Participantes:</h5>
        <p>{{ competition.participants }}</p>
        <br>
    </div>
</div>

<div class="col-md-12">
    <div class="login-or">
        <hr class="hr-or">
        <span class="span-or">o</span>
    </div>
</div>

<div class="pt-3 pb-4 text-center">
    {% if request.user.is_authenticated %}
    <a href="{% url 'download' competition.pk %}" style="background-color: #00c884; border-color: #00c884"
        class="btn btn-info">
        <span class="fa fa-download pr-2"></span>
        Descargar <i>.py</i> para participar
    </a>
    <div class="myform form pt-3">
        {% if error_message %}
        <p class="alert alert-warning" role="alert">{{ error_message }}</p>
        {% endif %}
        <form action="{% url 'competition' competition.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group pl-3">
                <div class="row">
                    <div class="col">
                        <div class="fieldWrapper">
                            <label>CSV con predicciones:</label>
                            {{ form.submission }}
                            <button type="submit" class="btn btn-info">
                                <span class="fa fa-upload pr-2"></span>
                                Subir predicción
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% else %}
    <i style="color: #4c5357;">Debes <b style="color: #00c884;">iniciar sesión</b> previamente para poder participar en
        una competición</i>
    {% endif %}
</div>

<div style="padding-bottom: 50px;">
    <h1 class="pt-2">Ranking de participantes</h1>
    <table id="myTable" class="table table-bordered" style="text-align: left;">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Usuario</th>
                <th>Puntos</th>
            </tr>
        </thead>
        <tbody>
            {% for ranking in rankings %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <td>{{ ranking.username }}</td>
                <td>{{ ranking.points }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#myTable').DataTable({
            "language": {
                "decimal": "",
                "emptyTable": "No hay datos para esta tabla",
                "info": "Monstrando de _START_ a _END_ filas de un total de _TOTAL_",
                "infoEmpty": "Monstrando 0 de 0 filas",
                "infoFiltered": "(filtrado del _MAX_ total de filas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ filas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "No hay datos que coincidan con la búsqueda",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": activar para ordenar la columna en orden ascendente",
                    "sortDescending": ": activar para ordenar la columna en orden descendente"
                }
            }
        });
    });
</script>

{% endblock %}