{% extends "base.html" %}
{% load static %}

{% block page_content %}

<link rel="stylesheet" href="{% static 'css/register.css' %}">

<div class="row pb-3">
    {% if competition.author == request.user.username or request.user.is_staff %}
    <form action="{% url 'editing' competition.pk %}" class="pt-2 pl-3">
        <button type="submit" class="btn login-button" style="font-weight: 400;">
            <span class="fa fa-edit pr-2"></span>
            Editar
        </button>
    </form>
    <form action="{% url 'delete' competition.pk %}" class="pt-2 pl-3">
        <button type="submit" class="btn btn-danger"
            onclick="return confirm('¿Está seguro de que quiere eliminar la {{ competition.title }}?');">
            <span class="fa fa-trash pr-2"></span>
            Eliminar
        </button>
    </form>
    {% endif %}

    {% if request.user.is_authenticated %}
    <form action="{% url 'add_points' competition.pk %}" class="pt-2 pl-3">
        <button type="submit" class="btn btn-info">
            Añadir puntos
        </button>
    </form>
    {% endif %}
</div>

<h1 class="pt-2">{{ competition.title }}</h1>
<div class="row">
    <div class="col-md-5 pt-3">
        <h5>Descripción:</h5>
        <p>{{ competition.description }}</p>
        <br>
        <h5>Fecha límite:</h5>
        <p>{{ competition.deadline }}</p>
        <br>
        <h5>Fecha de inicio:</h5>
        <p>{{ competition.beginning }}</p>
        <br>
        <h5 class="pb-2">Ranking:</h5>
    </div>
    <div class="col">
        
    </div>

    <table class="table" style="outline-style: solid; outline-width: 2px; outline-color: lightgrey; text-align: center;">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Usuario</th>
                <th scope="col">Puntos</th>
                <th scope="col">Aproximación</th>
            </tr>
        </thead>
        {% for ranking in rankings %}
        <tbody>
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ ranking.username }}</td>
                <td>{{ ranking.points }}</td>
                <td></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

{% endblock %}