{% extends "base.html" %}
{% block active_competitions %}active{% endblock %}
{% block color_competitions %}style="color: #00c884;"{% endblock %}

{% block page_content %}

<nav class="navbar navbar-expand-lg navbar-white bg-white pb-4">
    <div class="container">
        <a class="navbar-brand" style="color: #4c5357; font-size: 35px;" href="{% url 'actives' %}">Competiciones</a>
        <ul class="nav nav-tabs pt-2">
            <li class="nav-item">
                <a class="nav-link {% block active_actives %}{% endblock %}" style="color: #4c5357; font-size: 20px;"
                    href="{% url 'actives' %}">
                    <span class="fa fa-align-left pr-2"></span>
                    Activas
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% block active_coming %}{% endblock %}" style="color: #4c5357; font-size: 20px;"
                    href="{% url 'coming' %}">
                    <span class="fa fa-hourglass-end pr-2"></span>
                    Próximas
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% block active_pasts %}{% endblock %}" style="color: #4c5357; font-size: 20px;"
                    href="{% url 'pasts' %}">
                    <span class="fa fa-lock pr-2"></span>
                    Terminadas
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% block active_creating %}{% endblock %}" style="color: #00c884; font-size: 20px;"
                    href="{% url 'creating' %}">
                    <span class="fa fa-search pr-2"></span>
                    Crear competición
                </a>
            </li>
        </ul>
    </div>
</nav>

{% if show_competitions == True %}
<div class="row">
    {% for competition in competitions %}
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">{{ competition.title }}</h5>
                <p class="card-text">
                    {{ competition.description|slice:":35" }}
                    {% if competition.description|length >= 35 %}
                    ...
                    {% endif %}
                </p>
                <a href="{% url 'competition' competition.pk %}" class="btn btn-info"
                    style="color: white; background-color: #00c884; border-radius: 5px; border: 2px solid #00c884;">
                    <span class="fa fa-info-circle pr-2"></span>
                    Más información
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% block creating %}{% endblock %}

{% endblock %}