{% extends "competitions.html" %}
{% block active_creating %}active{% endblock %}
<!-- Cookies banner is loading twice due to creating extending from competitions -->
{% block hide_cookies %}style="display: none;"{% endblock %}
{% load static %}

{% block creating %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}

<link rel="stylesheet" href="{% static 'css/register.css' %}">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

{% if user.is_authenticated and user.profile.challenger or user.is_staff %}
<div class="col mx-auto">
    <div class="myform form">
        {% if error_message %}
        <p class="alert alert-warning" role="alert">{{ error_message }}</p>
        {% endif %}
        <form action="{% url 'creating' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group pl-3">
                <div class="row">
                    <div class="col-md-8">
                        <div class="fieldWrapper pb-3">
                            <label>Título:</label>
                            {{ form.title }}
                        </div>
                        <div class="fieldWrapper pb-3">
                            <label>Descripción:</label>
                            {{ form.description }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="fieldWrapper pb-3">
                            <label>Fecha de inicio:</label>
                            {{ form.beginning }}
                        </div>
                        <div class="fieldWrapper pb-3">
                            <label>Fecha de finalización:</label>
                            {{ form.deadline }}
                        </div>
                        <div class="fieldWrapper pb-3">
                            <label>Envíos diarios permitidos:</label>
                            {{ form.max_daily_uploads }}
                        </div>
                        <div class="fieldWrapper">
                            <label>Tiempo de espera entre envíos:</label>
                            {{ form.wait_time_uploads }}
                            <small class="form-text text-muted">
                                Cada cuántos minutos se pueden enviar resultados. <i>60 equivale a 1 hora.</i>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="fieldWrapper">
                            <label>CSV de test:</label>
                            <small class="form-text text-muted pb-3">
                                Este archivo es con el que <b>trabajarán los participantes</b>, debe contener un 30% de
                                los datos aproximadamente.
                            </small>
                            {{ form.test }}
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="fieldWrapper">
                            <label>CSV de train:</label>
                            <small class="form-text text-muted pb-3">
                                Este archivo es con el que se <b>evaluará al finalizar</b>, debe contener un 70% de los
                                datos aproximadamente.
                            </small>
                            {{ form.train }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center col-md-3 pt-2">
                <button type="submit" style="font-weight: 400;" class="btn login-button">
                    <span class="fa fa-plus-square pr-2"></span>
                    Crear nueva competición
                </button>
            </div>
        </form>
    </div>
</div>
{% elif user.profile.challenger == False %}
<div class="text-center">
    <i style="color: #4c5357;">No puedes crear competiciones hasta no ser <b style="color: #00c884;">desafiador</b>,
        para ello debes participar en competiciones e ir acumulando puntos
    </i>
</div>
{% else %}
<div class="text-center">
    <i style="color: #4c5357;">Debes <b style="color: #00c884;">iniciar sesión</b> previamente para poder crear una
        competición</i>
</div>
{% endif %}

{% endblock %}