{% extends "base.html" %}
<!-- Cookies banner is loading twice due to creating extending from competitions -->
{% block hide_cookies %}style="display: none;"{% endblock %}
{% load static %}

{% block page_content %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}

{% if competition.author == request.user.username or request.user.is_staff %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-white bg-white">
    <div class="container">
        <a class="navbar-brand" style="color: #4c5357; font-size: 35px;">
            Editando: <i> {{ competition.title }} </i>
        </a>
    </div>
</nav>

<div class="text-center pb-4">
    <i style="color: #4c5357;">No se pueden modificar los CSV, si se quieren cambiar, se tiene que 
        <a href="{% url 'delete' competition.pk %}" style="color: #dc3645" 
        onclick="return confirm('¿Está seguro de que quiere eliminar {{ competition.title }}?');"><b>borrar</b></a>
        la competición y <b style="color: #00c884;">volver a crearla</b></i>
</div>

<div class="col mx-auto">
    <div class="myform form">
        <form action="{% url 'editing' competition.pk%}" method="post">
            {% csrf_token %}
            <div class="form-group pl-3">
                <div class="row">
                    <div class="col-md-8">
                        <div class="fieldWrapper pb-3">
                            <label>Título:</label>
                            {{ form.title }}
                        </div>
                        <div class="fieldWrapper">
                            <label>Descripción:</label>
                            {{ form.description }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="fieldWrapper pb-3">
                            <label>Fecha de inicio:</label>
                            {{ form.beginning }}
                        </div>
                        <div class="fieldWrapper pb-3">
                            <label>Fecha de finalización:</label>
                            {{ form.deadline }}
                        </div>
                        <div class="fieldWrapper pb-3">
                            <label>Envíos diarios permitidos:</label>
                            {{ form.max_daily_uploads }}
                        </div>
                        <div class="fieldWrapper">
                            <label>Tiempo de espera entre envíos:</label>
                            {{ form.wait_time_uploads }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="pl-3 pt-2">
                <button type="submit" style="background-color: #00c884; border-color: #00c884;" class="btn btn-info">
                    <span class="fa fa-edit pr-2"></span>
                    Actualizar competición
                </button>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}